<div class="character">
  <h3><%= @character.name %></h3>
  <p>House: <%= @character.house.name%></br></p>
  <h3><%= link_to "Edit Character", edit_house_character_path(@character.house, @character)  %> | <%= link_to "Return to House", house_path(@character.house) %></h3>
<div>
