/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* assets/stylesheets */
 /*@font-face {
   font-family: "thrones";
   src: url('game_of_thrones.ttf') format("truetype");
 }*/

 /* assets/fonts */
 /*@font-face {
   font-family: "thrones";
   src: font-url('game_of_thrones.ttf') format("truetype");
 }*/

* {
  margin: 0;
  padding: 0;
}

body {
 height: 100vh;
 width: 100vw;
 text-align: center;
 margin: 0 auto;
 background-image: url("https://images.alphacoders.com/220/thumb-1920-220983.jpg");
 background-size: cover;
 color: #6D4C3D;
}

.container {
  background-color: rgb(109, 76, 61);
  background-color: rgba(220, 201, 182, .4);
  width: 50%;
  margin: 0 auto;
  height: 100%;
}

h1 { font-size: 50px; }

.header {
  margin: 20px 0;
  border-bottom: .1px solid rgb(220, 201, 182);
}

nav { padding: 15px 0; }

h2 { font-size: 20px; }

ul { list-style-type: none; }

a {
  text-decoration: none;
  color: #6D4C3D;
}

a:hover, a:active {
  color: #DCC9B6;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

form * {
  margin: 10px;
}
